{% extends 'core/base.html' %}
{% block title %}Delete {{ type }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card p-4 text-center">
      <h4>Delete {{ type }}?</h4>
      <p>Are you sure you want to delete <strong>{{ object }}</strong>? This cannot be undone.</p>
      <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger">Yes, delete</button>
        <a href="javascript:history.back()" class="btn btn-outline-secondary ms-2">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
